.footer-container {
    color: white;
    background-color: black;
    width: 100%;
    margin-bottom: 0;
}

.about-header {
    margin: 0px;
    padding: 10px;
}

.repo-link {
    margin: 5px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-header {
    margin: 10px;
}

.contacts-list {
    margin: 0px;
    padding-bottom: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.dev-link {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
