.profile-dropdown {
	position: fixed;
	right: 21%;
	color: black;
	background-color: white;
	border-radius: 8px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(42 47 53 / 10%) 0px 1px 4px;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 27px;
	margin: 0;
}
.profile-dropdown button {
	margin: 5px;
}

.hidden {
	display: none;
}

.navBarContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: black;
	padding-right: 0%;
	height: 75px;
}

.NavBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	width: 60%;
	height: 100%;
}

#nav-bar-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

#nav-bar-buttons button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	color: white;
	font-size: 15px;
}

#nav-bar-buttons button:hover {
	border-bottom: 1px solid #e00095;
	cursor: pointer;
}

#midcupid-logo {
	display: flex;
	flex-direction: row;
	gap: 25px;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#midcupid-logo a {
	text-decoration-line: none;
	color: white;
	font-weight: 700;
	font-size: 35px;
}

body {
	background-color: lightgray;
}

.alt-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* .nav-my-profile-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
} */

.logout-door-btn {
	border-radius: 65%;
	width: 45px;
	height: 45px;
	position: relative;
}

/* #nav-bar-right-side button {
  border-radius: 65%;
  width: 45px;
  height: 45px;
} */

.discover-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
