.profile-dropdown {
  position: fixed;
    right: 14%;
    color: black;
    background-color: white;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(42 47 53 / 10%) 0px 1px 4px;
}

.hidden {
  display: none;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: auto;
  padding: 0;
}

#nav-bar-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  right: 138%;
}

#nav-bar-left-side {
  position: relative;
  width: 80%;
  right: 6%;
  gap: 6px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

#midcupid-logo a{
  text-decoration-line: none;
  color: white;
  font-weight: 700;
  font-size: x-large
}

body{
  background-color: lightgray;
}
