.self_summary {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(42 47 53 / 10%) 0px 1px 4px;
    margin-top: 20px;
}

.self_summary-top{
	display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin-top: auto;
    min-height: 40px;
    padding: 10px 15px;
    background: #1a1a1a;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: .875rem;
    line-height: 1.4285714286;
}

.self_summary-bot {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.details {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(42 47 53 / 10%) 0px 1px 4px;
    margin-top: 20px;
    /* padding-left: 10px; */
    padding-right: 10px;
    position: relative;
}
.details-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    min-height: 40px;
    padding: 5px;
    background: #1a1a1a;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: .875rem;
    line-height: 1.4285714286;
}

p {
    word-break: break-word;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.discover_image {
	display: flex;
	flex-direction: row;
	overflow: auto;
	overflow-y: hidden;
	width: auto;
	height: 300px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e00095;
}

.edit-link {
    height: 50px;
	border: 2px solid black;
	width: 150px;
	border-radius: 50px;
	background-color: white;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    color: black;
    text-decoration: none;
}

.edit-link:hover {
    background-color: black;
	color: white;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
